<ion-header>
    <ion-navbar>
      <ion-title>Select Brand</ion-title>
    </ion-navbar>
    <ion-toolbar no-border-top>
        <ion-searchbar [showCancelButton]="shouldShowCancel" (ionInput)="filterItems($event)" placeholder="Search your Brand" autocomplete="on">
        </ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list [virtualScroll]="data2">
        <button ion-item detail-push *virtualItem="let i" (click)="codeDisplay(i)" class="itm">
            <span> {{ i }}</span>
        </button>
    </ion-list>
</ion-content>
