<ion-header >
  <ion-navbar>
		<ion-title>History</ion-title>
		<ion-buttons end class="txt-gold"> 
       <ion-select class="maxw-100">
          <ion-option selected>today</ion-option>
          <ion-option>7days</ion-option>
        </ion-select>  
   </ion-buttons> 
	</ion-navbar>
</ion-header>
<ion-content no-padding>
	<ion-item-group>
    <ion-item-divider class="itm-divider-btom bdr-btom-none">
    	<span class="txt-silver">{{switchData.name}} Switch History</span>
    </ion-item-divider>
    <ion-item-divider class="itm-divider font-1-1rem txt-gold">Total running hours: {{switchData.durationHrs}}:{{switchData.durationMins|timeFormatter}} hrs, Total Power Consumed: 1230KWH
    </ion-item-divider>
	</ion-item-group>
	<ion-item-group  *ngFor="let i of switchData.switch_events">
		<ion-item class="itm">
    <ion-row  *ngIf="i.showHistory" >
    	<ion-col width-25 text-center class="itm">
    		<time>{{i.timestamp | date:'shortTime'}}</time>
    	</ion-col>
			<ion-col width-50 text-center class="itm">User</ion-col>
			<ion-col width-25 text-center [class]="i.event_type | toggleValue">{{i.event_type | toggleValue}}
			</ion-col>      
		</ion-row>
		</ion-item>
	</ion-item-group>
</ion-content>

