<ion-tabs>
  <ion-tab [root]="tab1Root"  tabTitle="Dashboard" tabIcon="apps"></ion-tab>
  <ion-tab [root]="tab2Root"  tabTitle="Rooms" tabIcon="cube"></ion-tab>
  <ion-tab [root]="tab3Root"  tabTitle="Scenes" tabIcon="alarm"></ion-tab>
  <ion-tab [root]="tab4Root"  tabTitle="Remotes" tabIcon="desktop"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Profile" tabIcon="settings"></ion-tab>
</ion-tabs>