<ion-header>
    <ion-navbar>
        <ion-title>Create Room</ion-title>
    </ion-navbar>
</ion-header>
<ion-content no-padding>
  <form (ngSubmit)="registerRoom()" #registerForm="ngForm">
  <ion-item-group>
    <ion-item-divider class="itm-divider-btom">
      <span class="txt-silver">Create a new room</span>
    </ion-item-divider>
    <ion-item class="itm">
        <ion-label>Select Home</ion-label>
        <ion-select  [(ngModel)]="home_id" [ngModelOptions]="{standalone: true}">
          <ion-option *ngFor="let i of items" [selected]="i.selected" [value]="i._id">{{ i.display_name }}</ion-option>      
        </ion-select>
      </ion-item >  
      <ion-item class="itm">
        <ion-label>Room Name</ion-label>
        <ion-input type="text" item-right class="txt-normal" text-right [(ngModel)]="registerRoomCredentials.roomName"  [ngModelOptions]="{standalone: true}"
    required></ion-input>
      </ion-item> 
      <ion-item class="itm">
        <ion-label>Room Type</ion-label>
        <ion-select [(ngModel)]="registerRoomCredentials.roomType" [ngModelOptions]="{standalone: true}">
          <ion-option>kitchen</ion-option>
          <ion-option>bathroom</ion-option>
          <ion-option>bedroom</ion-option>
          <ion-option>hall</ion-option>
          <ion-option>livingroom</ion-option>
          <ion-option>sittingroom</ion-option>
          <ion-option>study</ion-option>
          <ion-option>other</ion-option>
        </ion-select>
      </ion-item>    
  </ion-item-group>
<br>
  <button ion-button full class="txt-orange" type="submit">Create Room </button>
  </form>
</ion-content>
