
<ion-header>
  <ion-navbar>
    <ion-title>EPG Main</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <span *ngFor="let i of rowData">
    <p class="font-1-5rem txt-white" padding-left strong *ngIf="colData[i.key]"> {{i.value}} </p>
    <ion-scroll scrollX="true"scrollbar-x="false" scrollbar-y="false" direction="x" class="ml-5px" *ngIf="colData[i.key]">
      <span *ngFor="let j of colData[i.key]" class="showDiplayBlock">
        <ion-card *ngIf="show">
            <ion-item text-center class="bdr-btom-none info" (click)="goToDetails(j.programid)">
                <img [src]="j.program.thumbnail" />
                <p>
                    <svg width="80%" height="3" style="display: block;position: relative;">
                        <rect width="100%" height="100%" style="fill:green;"> </rect>
                    </svg>
                </p>
                <p text-center class="card-title txt-white font-1-3rem ellipses">{{j.program.name}}</p>
                <p text-center class="card-subtitle txt-gold font-1-3rem ellipses">{{j.channel_name}}</p>
                <br>
            </ion-item>
        </ion-card>
        <ion-card *ngIf="!show">
            <ion-item text-center class="bdr-btom-none more-info">
                <ion-img src="assets/img/11.jpg"></ion-img>
                <p>&nbsp;</p>
                <p text-center class="card-title txt-white font-1-3rem ellipses">Read More</p>
                <p text-center class="card-subtitle txt-gold font-1-3rem ellipses">&nbsp;</p>
                <br>
            </ion-item>
        </ion-card>
      </span>
      
      <!--ion-infinite-scroll (ionInfinite)="doInfinite1($event)" threshold="80%" direction="x">
            <ion-infinite-scroll-content>
          </ion-infinite-scroll-content>
      </ion-infinite-scroll-->
    </ion-scroll>
  </span>
<ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="!noMoreRows"  threshold="10%">
       <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
</ion-infinite-scroll>
<ion-fab right bottom>
    <button ion-fab color="light" (click)="selectType()">
        <ion-icon name="arrow-dropup"></ion-icon>
    </button>
</ion-fab>
</ion-content>
