<ion-header>
  <ion-navbar>
    <ion-title>Remotes</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-padding>
  <ion-item-group>
    <ion-item-divider class="itm-divider-btom">
      <span class="txt-gold"> All Registered Remotes in default home</span>
    </ion-item-divider>
         <button ion-item class="itm2" *ngFor="let item of data" (click)="goToRemote(item)">
        <span>{{item.name}}</span><br><span class="txt-orange txt-small"> {{item.room_id.name}}</span>
        <ion-icon item-right md="ios-arrow-forward"></ion-icon>
      </button>
  </ion-item-group>
</ion-content>
