<ion-header>
	<ion-navbar>
		<ion-title>Change Password</ion-title>
	</ion-navbar>
</ion-header>
<ion-content no-padding>

	<ion-item-group>
		<ion-item-divider class="itm-divider-btom">
			<span class="txt-silver">Update your password</span>
		</ion-item-divider>
		<ion-item class="itm">
			<ion-label>Present Password</ion-label>
			<ion-input type="password"  [(ngModel)]="old"  [ngModelOptions]="{standalone: true}" item-right class="txt-normal" text-right placeholder="Present Password"></ion-input>
		</ion-item>
		<ion-item class="itm">
			<ion-label>New Password</ion-label>
			<ion-input type="password" item-right class="txt-normal" [(ngModel)]="new1"  [ngModelOptions]="{standalone: true}" text-right placeholder="New Password"></ion-input>
		</ion-item>
		<ion-item class="itm">
			<ion-label>Re-enter Password</ion-label>
			<ion-input type="password" item-right class="txt-normal"  [(ngModel)]="new2"  [ngModelOptions]="{standalone: true}" text-right placeholder="Re-enter Password"></ion-input>
		</ion-item>
	</ion-item-group>
	<br>
		<button ion-button text-center full class="txt-orange" (click)="getOtpPassword()">Get OTP</button>
	<br>
		<button ion-button text-center full class="txt-orange" (click)="changePassword()">Update Password </button>

</ion-content>
