/*Color Variables Used*/
/*used for tab bg, alert bg, loop span etc*/




@font-face {
  font-family: "SanFranciscoRegular";
  src: url("../assets/fonts/SF-UI-Display-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SanFranciscoLight";
  src: url("../assets/fonts/SF-UI-Display-Light.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto-regular";
  src: url("../assets/fonts/roboto-regular.ttf");
  font-weight: normal;
  font-style: normal;
}



*{
  letter-spacing: 1.2px;
}
body{
  font-family: "SanFranciscoLight";
  background:$dark-bg;
  letter-spacing: 1.2px !important;
  color: #98979C !important;
}

ion-app.ios{
  font-family: "SanFranciscoLight";
}
ion-app.md {
  font-family: "SanFranciscoLight";
}

ion-app.wp {
  font-family: "SanFranciscoLight";
}
ion-content{
  background:$dark-bg !important;
  color: #98979C !important;
}
input:webkit-autofill,
textarea:webkit-autofill,
select:webkit-autofill{
  background-color: transparent !important;
}
  a{
    color:$gold !important;
    text-decoration: none !important;
  }
  .toolbar-background{
    background:#181818  !important;
    color:#fff  !important;
    border-bottom: 0.5px solid $lighter-dark !important;
  }
  .toolbar-title{
    color:#fff !important;
  }
  .back-button{
    color:$gold !important;
  }
  .tabbar{
    background:#181818  !important;
    color:#fff  !important;
  }
  .tab-button[aria-selected=true] .tab-button-icon
  {
    color: $gold !important;
  }
  .tab-button[aria-selected=true] .tab-button-text{
    color: $gold !important;
  }
  .tab-button-icon {
    color: $silver !important;
  }
  .tab-button-text{
    color:$silver !important;
  }
  ion-buttons{
    margin: 0 !important;
  }

  .alert-wrapper{
    background: #1c1c1d !important;
  }

  .alert-radio-label{
    color:#fff !important;
  }
  .alert-md .alert-radio-inner{
    background: $gold !important;
  }

  .alert-radio-icon{
    border-color: $gold !important;
  }
  .alert-md .alert-radio-group, .alert-md .alert-checkbox-group {
    border-top: 1px solid $lighter-dark;
    border-bottom: 1px solid $lighter-dark;
  }
  .alert-ios .alert-radio-group, .alert-ios .alert-checkbox-group{
    border-top: 0.55px solid $lighter-dark;
  }
  [aria-checked=true] .alert-radio-inner{
    border-color:$gold !important;
    color:$gold !important;
  }
  .alert-message{
    color:$silver !important;
    text-align: center !important;
  }
    .alert-title{
    color:#fff !important;
    text-align: center !important;
    font-weight: bold !important;
  }
  .alert-button-group.alert-button{
    border-top: 0.55px solid $lighter-dark;
    border-right: 0.55px solid $lighter-dark;
  }
  .alert-md .alert-button{
    background:none !important;
  }
  .alert-md .alert-button:last-child {
     color: $gold !important; 
}
  .alert-button.activated{
    background-color:#363636 !important;
  }
  .alert-button:last-child{
    border-right: none;
  }
  .alert-ios .alert-button{
      border-top: 0.55px solid $lighter-dark;
    border-right: 0.55px solid $lighter-dark;
  }
  .button{
    background-color:#1c1c1d !important;
    font-size: 1.5rem !important;
    letter-spacing: 1.2px;

  }
  .button.activated{
    background-color:#363636 !important;
    font-size: 1.5rem !important;
  }
  .button-md{
    text-transform:none !important;
  }
  .button-md:hover:not(.disable-hover) {
    background-color: #363636;
  }
  .btn .button-inner{
    text-align:left !important;
    justify-content:flex-start !important;
    -webkit-justify-content:flex-start !important;
    -moz-justify-content:flex-start !important;
    -o-justify-content:flex-start !important;
  }
/*  .button[icon-only]{
    background: transparent !important;
  }*/
  .btn-icon{
    color:#bdbdbd !important;
    width: 60px;
    height: 60px;
    border-radius: 50% !important;
    overflow: hidden;
  }
  .btn-icon.activated{
    color:$gold !important;
  }
  /* margin */
  .margin-zero{
    margin: 0 !important
  }
  .lbl-m-0 .label{
    margin: 0 !important;
  }
  .lbl-m-0 .item-inner{
    padding-right: 0 !important;
  }
  .m-btom-2px{
    margin-bottom: 2px;
  }
  .wh-100{
    width: 100% !important;
    height: 100% !important;
  }
  .maxw-100{
    max-width: 100% !important;
  }
  .h-200{
    height: 200px;
  }
  .m-40150{
    margin: 4px 0 15px 0px !important;
  }
  .lh-20px{
    line-height: 20px;
  }
  /* Text Color */

  .txt-gold{
    color:$orange !important;
  }
  .txt-silver{
    color: $silver !important;
  }
  .txt-orange{
    color:$gold !important;
  }
  .txt-red{
    color:$red !important;
  }
  .txt-white{
    color:#fff !important;
  }
  .txt-cc{
    color:#ccc !important;
  }
  .txt-normal{
    color:#98979C !important;
  }
  .hrs{
    color:$gold;
  }
  .kwh{
    color:$orange;
  }
  .txt-indent{
    text-indent: 1.8rem !important;
  }
  .txt-small{
    font-size: 1.2rem !important;
  }
  .select-text{
    color:$gold !important;
  }

  /*  Font Size  */

  .font-0-9rem{
    font-size: 0.9rem !important;
  }

  .font-1-1rem{
    font-size: 1.1rem !important;
  }
  .font-1-3rem{
    font-size: 1.3rem !important;
  }
  .font-1-5rem{
    font-size: 1.5rem !important;
  }
  .font-1-8rem{
    font-size: 1.8rem !important;
  }
  .font-2{
    font-size: 2rem !important;
  }
  .font-2-5rem{
    font-size: 2.5rem !important;
  }
  .font-2-8rem{
    font-size: 2.8rem !important;
  }
  .font-4rem{
    font-size: 4rem !important;
  }
  .font-4-8rem{
    font-size: 4.8rem !important;
  }
  .font-w-600{
    font-weight: 600;
  }

  /*  Item */

  .itm-divider{
    background:$dark-bg !important;
    color:$orange;
    border-bottom: 0.5px solid $lighter-dark !important;
    font-size: 1.3rem;
    letter-spacing: 1.2px;
    white-space: normal !important;
  }
  .itm-divider-btom{
    background:$dark-bg !important;
    color:$orange;
    border-bottom: 0.5px solid $lighter-dark !important;
    font-size: 1.3rem;
    letter-spacing: 1.2px;
    white-space: normal !important;
  }
 .itm-divider-btom .label{
    margin: 25px 8px 4px 0px !important;
  }
  .itm{
    background:#1c1c1d;
    color:#fff;
    letter-spacing: 1.2px;
    font-size: 1.5rem !important;
    max-height:2rem !important;
  }
  .itm .item-inner{
    border-bottom: 0.5px solid $lighter-dark !important;
    max-height: 2rem !important;
  }
  .itm2{
    background:#1c1c1d;
    color:#fff;
    letter-spacing: 1.2px;
    font-size: 1.8rem !important;
    max-height:6rem !important;
  }
  .itm2 .item-inner{
    border-bottom: 0.5px solid $lighter-dark !important;
    max-height: 6rem !important;
  }
  .loopspan .itm2:last-child .item-inner{
    border-bottom: 0.5px solid $lighter-dark !important;
  }
  .loopspan .item:last-child{
    border-bottom: none !important;
  }
  .item:last-child .item-inner{
    border-bottom: none !important;
  }
  .item:last-child{
    border-bottom: 0.5px solid $lighter-dark !important;
  }
  .item.activated{
    background:#363636 !important;
  }
  .label-md{
    color:#fff !important;
    white-space: normal !important;
  }
  .label{
    white-space: normal !important;
  }
  .itm1{
    background:#1c1c1d;
    color:#fff;
    letter-spacing: 1.2px;
  }
  .itm1 .item-inner{
    border-bottom: none !important;
  }
  .itm1:last-child{
    border-bottom: 3px solid $dark-bg !important;
  }
  .time .label{
    margin: 0 !important;
  }
  .time .item-inner{
    border-bottom: 0.5px solid $lighter-dark !important;
  }
 .item-inner {
    border-bottom: 0.55px solid $lighter-dark !important;
  }
  /* Border */
  .bdr{
    border: 0.5px solid $lighter-dark !important;
  }
  .bdr-btom-rt-0d{
    border-bottom: 3px solid $dark-bg !important;
    border-right: 3px solid $dark-bg !important;
  }
  .bdr-btom{
    border-bottom: 0.5px solid $lighter-dark !important;
  }
  .bdr-btom-00{
    border-bottom: 1px solid #000 !important;
  }
  .bdr-none .item-inner{
    border-bottom: none !important;
  }
  .bdr-btom-none{
    border-bottom:none !important;
  }
  .bdr-top-none{
    border-top:none !important;
  }
  .bdr-none{
    border:none !important;
  }
  .toggle-checked{
    background:$gold !important
  }

  .searchbar{
    background: #1c1c1d !important;
  }
  .toolbar .searchbar-ios .searchbar-input{
    background: #171717 !important;
    color:#8e8e93 !important;
  }
  .toolbar .searchbar-md .searchbar-input{
    background: #171717 !important;
    color:#8e8e93 !important;
  }
  ::-webkit-input-placeholder {  color: #8e8e93 !important;
  }
  .searchbar-search-icon{
    background-image: url("../assets/img/search.png") !important;
  }
  .fab{
    background:$orange !important;
    color:#000 !important;
  }
  .fab ion-icon{
    font-size:2rem !important;
    background:$orange !important;
  }

  p{
    font-size: 1.2rem !important;
    letter-spacing: 1.2px !important;
  }
  .p-left{
    padding-left: 16px !important;
  }
  .pl-5px{
    padding-left: 5px !important;
  }
  .ml-5px{
    margin-left: 5px !important;
  }
  .m-2px{
    margin: 2px !important;
  }
  .p-top-10{
    padding-top: 10px !important;
  }
  .p-btom-30{
    padding-bottom: 30px;
  }
  .p-0{
    padding: 0 !important;
  }
  .bg-none{
    background: none !important;
  }
  .bg-1c{
    background: #1c1c1d !important;
  }
  .radio-inner{
    border-color:#fff !important;
  }
  .bar-buttons button{
    font-size: 1.7rem !important;
  }

  //Loading style
  .loading-md .spinner-crescent circle {
    stroke: $gold !important;
}/*
  .loading-ios .spinner-crescent circle {
    stroke: $gold !important;
}*/
ion-spinner {
    position: relative;
    display: inline-block;
    width: 48px !important;
    height: 48px !important;
}
.loading-md .loading-wrapper {
    padding: 24px;
    max-width: 280px;
    max-height: 90%;
    position: relative;
    top: -10;
    margin-top: -10;
    // border-radius: 2px; 
    // color: rgba(0, 0, 0, 0.5); 
     background:none !important;
    box-shadow: none !important;
}
.loading-ios .loading-wrapper {
    padding: 24px;
    max-width: 280px;
    max-height: 90%;
    position: relative;
    top: -10;
    margin-top: -10;
    // border-radius: 2px; 
    // color: rgba(0, 0, 0, 0.5); 
     background:none !important;
    box-shadow: none !important;
}

.loading-ios .spinner-ios line, .loading-ios .spinner-ios-small line {
    stroke: $gold !important;
}

//range slider style
.range-knob{
  background: $gold !important;
  top: 12px !important;
    left: 12px !important;
    width: 20px !important;
    height: 20px !important;
}
.range-ios .range-bar{
  height:2.5px !important;
}
.range-md .range-bar{
  height:2.5px !important;
}


.range-md .range-knob-min.range-knob-min .range-knob {
    border: none !important; 
    
}

.range-bar-active {
    background: $gold !important;
}
.range-has-pin{
  padding-top:0px !important;
}
.range-md.range-disabled .range-knob {
    outline: none !important;
    background-color:#A35F00 !important;
}
.range-md.range-disabled .range-bar {
    background: #616161 !important;
}

// text center
.center-text {
   text-align: center;
}


.refresher-pulling-icon, .refresher-refreshing-icon {

    color: $gold !important;
}
.has-refresher > .scroll-content {
    border-top: none !important;
}
.spinner-ios-ios line, .spinner-ios-ios-small line {
    stroke:none !important; 
}
 .alert-checkbox-label {
    color: white !important;
}
 [aria-checked=true] .alert-checkbox-icon {
    border-color: $gold !important;
    background-color: $gold !important;
}
[aria-checked=true] .alert-checkbox-label {
    color: $gold !important;
}
