page-home {
    ion-content {
        overflow: inherit !important;
        text-overflow: inherit !important;
    }
    .item {
        overflow: inherit;
        text-overflow: inherit;
        white-space: nowrap;
        background: #1c1c1d;
    		color: #fff;
    		letter-spacing: 1.2px;
    		font-size: 1.8rem !important;
    }
    ion-scroll {
        white-space: nowrap;
        height: 100px;
        text-align: center;
        margin: 2px !important;
        margin-bottom: 2px;
        padding: 2px !important;
    }
    img {
        margin: 0 !important;
    }
    .item-md {
        background-color: #181818 !important;
        margin: 0px !important;
        color: #3a5072 !important;
        padding: 0px !important;
        border-radius: 0px !important;
    }
    .item-ios {
        position: relative;
        margin: 0px !important;
        color: #3a5072 !important;
        border-radius: 0px !important;
        padding: 0 !important;
        background-color: #000 !important;
    }
    .label-ios {
        margin: 0px !important;
    }
    .label-md {
        margin: 0px !important;
    }
    ion-card {
        display: inline-block;
        background: none !important;
        margin: 0px 2px !important;
    }
    .card-content-ios {
        padding: 0px !important;
        font-size: 1.4rem;
    }
    .card-title-ios {
        padding: 0px!important;
        font-size: 1.5rem;
    }
    ::-webkit-scrollbar {
        display: none !important;
    }
    .card {
        margin: 0px 4px !important;
        width: 25%;
        border: 0.2rem dashed #656565;
    }

    .item-md.item-block .item-inner {
        padding: 0px !important;
    }
    .item-ios.item-block .item-inner {
        padding: 0px !important;
    }
   
    .ellipses {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;        
        padding-bottom: 10px;
    }

    .item:last-child {
    border-bottom: none !important;
	}
	.item ion-thumbnail{
		min-width:52px !important;
		min-height: 76px !important;
	}
	.img-thumb{
		width:50px !important;
		height: 75px !important;
	}
	.segment-button{
		/*border-style: none !important;*/
		/*border-radius: 0 !important;*/
		font-size: 1.5rem !important;
		height: 3rem !important;
		line-height: 3rem !important;
	}
}
