<ion-header>
    <ion-navbar no-border-bottom>
        <ion-title>
            Segments
        </ion-title>
    </ion-navbar>
    <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="pet">
            <ion-segment-button value="now">
                NOW
            </ion-segment-button>
            <ion-segment-button value="later">
                LATER
            </ion-segment-button>
            <ion-segment-button value="guide">
                GUIDE
            </ion-segment-button>
            <ion-segment-button value="videos">
                VIDEOS
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div [ngSwitch]="pet">
        <div *ngSwitchCase="'guide'">
            <p class="txt-white font-1-8rem pl-5px">Recent Channels</p>
            <ion-scroll scrollX="true">
                <ion-card>
                    <ion-item text-center class="bdr-btom-none info">
                        <img src="assets/img/222.jpg">
                    </ion-item>
                </ion-card>
                <ion-card>
                    <ion-item text-center class="bdr-btom-none info">
                        <img src="assets/img/222.jpg">
                    </ion-item>
                </ion-card>
                <ion-card>
                    <ion-item text-center class="bdr-btom-none info">
                        <img src="assets/img/222.jpg">
                    </ion-item>
                </ion-card>
                <ion-card>
                    <ion-item text-center class="bdr-btom-none info">
                        <img src="assets/img/222.jpg">
                    </ion-item>
                </ion-card>      
            </ion-scroll>     
            <ion-row>    
            	<ion-col text-left>
            	<span class="txt-white font-1-5rem">Channel Guide</span>
            	<span class="txt-normal"> | 11:00AM</span>
            	</ion-col>
            	<ion-col class="txt-normal" text-right> 12:00PM |</ion-col>
            </ion-row>
            <ion-list class="pl-5px">
                <ion-item class="bdr-top-none">
                    <ion-thumbnail item-left class="m-2px">
                        <img src="assets/img/maa.jpg" class="img-thumb">
                    </ion-thumbnail> 
                    <ion-thumbnail item-left class="m-2px">  
                        <img src="assets/img/ch1.jpg" class="img-thumb">
                    </ion-thumbnail>   
                    <p class="txt-white font-1-8rem">Bhale Taste Guru</p>
                    <h2 class="txt-normal font-1-5rem">12:30-01:00PM</h2>
                    <p>&nbsp;</p>
                </ion-item>  
                <ion-item class="bdr-top-none">
                    <ion-thumbnail item-left class="m-2px">
                        <img src="assets/img/maa.jpg" class="img-thumb">
                    </ion-thumbnail> 
                    <ion-thumbnail item-left class="m-2px">  
                        <img src="assets/img/ch1.jpg" class="img-thumb">
                    </ion-thumbnail>
                    <p class="txt-white font-1-8rem">Racha Banda</p>
                    <h2 class="txt-normal font-1-5rem">01:00-02:00PM</h2>
                    <p>&nbsp;</p>
                </ion-item>
                <ion-item class="bdr-top-none">
                    <ion-thumbnail item-left class="m-2px">
                        <img src="assets/img/maa.jpg" class="img-thumb">
                    </ion-thumbnail> 
                    <ion-thumbnail item-left class="m-2px">  
                        <img src="assets/img/ch1.jpg" class="img-thumb">
                    </ion-thumbnail>
                    <p class="txt-white font-1-8rem">Durga</p>
                    <h2 class="txt-normal font-1-5rem">02:30-03:00PM</h2>
                    <p>&nbsp;</p>
                </ion-item>
                
            </ion-list>
        </div>
    </div>
</ion-content>
