<ion-header> 
	<ion-navbar>         
		<ion-title>Edit Profile</ion-title> 
	</ion-navbar>  
</ion-header> 
<ion-content no-padding> 
	<ion-item-group>
		<ion-item-divider class="itm-divider-btom">
			<span class="txt-silver">Edit and modify profile details</span>
		</ion-item-divider>
		<ion-item class="itm">
			<ion-label>Name</ion-label>
			<ion-input type="text" maxlength="15" item-right class="txt-normal" [(ngModel)]="name" (ngModelChange)="onChange()" [ngModelOptions]="{standalone: true} " text-right placeholder="Enter Name" ></ion-input>
		</ion-item>
		<ion-item class="itm">
			<ion-label>Mobile No</ion-label>
			<ion-input type="text" maxlength="10"  item-right class="txt-normal" [(ngModel)]="phone" (ngModelChange)="onChange()" [ngModelOptions]="{standalone: true} "  text-right placeholder="Enter Mobile No" ></ion-input>
		</ion-item>

		<ion-item class="itm">
			<ion-label>Gender</ion-label>
			<ion-select [(ngModel)]="gender" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChange()">
				<ion-option value="m">Male</ion-option>
				
				<ion-option value="f">Female</ion-option>
			</ion-select>
		</ion-item> 			
	</ion-item-group>
	<br>
		<button ion-button text-center full class="txt-orange" (click)="getOtpPassword()">Get OTP</button>

	<br>
	<button ion-button text-center full class="txt-orange" (click)="updateProfile()" [disabled]="disUpdate">
		Update Profile</button>
</ion-content>     
