
<ion-header>
    <ion-navbar>
    <ion-title>Remote</ion-title>
    <ion-buttons end > 
      <button ion-button class="txt-orange" *ngIf="is_stb" (click)="goToEpgPage()">EPG</button> 
    </ion-buttons> 
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button *ngFor="let i of remote_keys1" ion-button block full class="txt-orange" (click)="triggerIr(i)">{{i}}</button>

</ion-content>
