page-home{
	
	.info{

	}
	.img2{
		visibility: hidden;
	}
	.btn1.active .img2{
		visibility: visible;
		/*background: url(../assets/img/more.jpg);*/
	}
	.btn1.active .img1,
	.btn1.active .txt1{
		visibility: hidden;
	}
	.img1,.img2{
		position: absolute;
		display: block;
	}
}