<ion-header>
    <ion-navbar>
        <ion-title> Movies This Week </ion-title>
    </ion-navbar>
</ion-header>
<ion-content no-padding> 
<ion-fab top right edge #fab>
   <button ion-fab mini> <ion-icon item-right name="settings" class="txt-white"></ion-icon></button>
   <ion-fab-list side="bottom">
     <button ion-fab (click)="share('facebook', fab)">
     	<ion-select>
     		<ion-option selected>
     			 <ion-icon name="arrow-dropdown" class="txt-white"></ion-icon>
     		</ion-option>
     		<ion-option>list1</ion-option>
     		<ion-option>list2</ion-option>
     	</ion-select>
     </button>
    </ion-fab-list>
 </ion-fab>
	<ion-row class="p-btom-30">
		<ion-col width-33 class="h-200 btn1" (click)="setActive()" [ngClass]="{active: isActive}">
			<button ion-button class="wh-100 p-0 " >
				<img src="assets/img/22.jpg" class="wh-100 img1">
				<span class="img2">
					<p no-margin><img src="assets/img/more.jpg" class="wh-100"></p>
					<p no-margin><img src="assets/img/more1.jpg" class="wh-100"></p>
				</span>
			</button>
			<p text-center>Fanaa</p>  
		</ion-col>
		<ion-col width-33 class="h-200" >
			<button ion-button class="wh-100 p-0">
				<img src="assets/img/22.jpg" class="wh-100">
			</button>
			<p text-center>Fanaa</p>
		</ion-col>
		<ion-col width-33 class="h-200" >
			<button ion-button class="wh-100 p-0">
				<img src="assets/img/22.jpg" class="wh-100">
			</button>
			<p text-center>Fanaa</p>
		</ion-col>
	</ion-row>
		<ion-row class="p-btom-30">
		<ion-col width-33 class="h-200" >
			<button ion-button class="wh-100 p-0">
				<img src="assets/img/22.jpg" class="wh-100">
			</button>
			<p text-center>Fanaa</p>
		</ion-col>
		<ion-col width-33 class="h-200" >
			<button ion-button class="wh-100 p-0">
				<img src="assets/img/22.jpg" class="wh-100">
			</button>
			<p text-center>Fanaa</p>
		</ion-col>
		<ion-col width-33 class="h-200" >
			<button ion-button class="wh-100 p-0">
				<img src="assets/img/22.jpg" class="wh-100">
			</button>
			<p text-center>Fanaa</p>
		</ion-col>
	</ion-row>

</ion-content>