<ion-header> 
  <ion-navbar>        
  <ion-title>Wifi Router Details</ion-title>
    <ion-buttons end >
      <button class="txt-orange bg-none" (click)="goToEditRouter()">Edit</button>
    </ion-buttons> 
  </ion-navbar>  
</ion-header> 
<ion-content no-padding> 
  <ion-item-group>
    <ion-item-divider class="itm-divider-btom">
      <span class="txt-silver">Wifi Router Details</span>
    </ion-item-divider>
      <ion-item class="itm">
        <span>SSID Name</span>
        <span item-right class="txt-normal">{{ssid}}</span>
      </ion-item> 
      <ion-item class="itm">
        <span>Password</span>
        <span item-right class="txt-normal">{{pass}}</span>
      </ion-item>    
  </ion-item-group>
<br>
<!--   <button class="btn txt-orange" ion-button full (click)="goToEditRouter()">Edit Router </button>
<br> -->
  <button class="btn txt-red" ion-button full (click)="deleteRouter()">Delete Router </button>
</ion-content>     
