<ion-header>
    <ion-navbar>
        <ion-title> {{switch.name}} </ion-title>
        <!-- <ion-buttons end class="txt-gold"> 
    <button clear ion-button>
       <ion-icon item-right name="close" class="txt-white"></ion-icon>
     </button> 
   </ion-buttons> -->
    </ion-navbar>
</ion-header>
<ion-content no-padding> 
  <p padding class="font-1-5rem"> Today Stats</p>
  <ion-row no-padding>
    <ion-col width-50 no-padding class="hrs font-2-8rem" text-center>  
      <img src="assets/img/cloud.png">  Run. Hrs
    </ion-col>
    <ion-col width-50 no-padding class="kwh font-2-8rem" text-center>  
      <img src="assets/img/cloud1.png">  Est. Kwh
    </ion-col>    
  </ion-row>
  <ion-row no-padding>
    <ion-col width-50 no-padding class="txt-white font-4-8rem" text-center>   {{switch.durationHrs}}:{{switch.durationMins|timeFormatter}}  </ion-col> 
    <ion-col width-50 no-padding class="txt-white font-4-8rem" text-center>    9830   </ion-col>
  </ion-row>
  <ion-item-group>
    <ion-item-divider class="itm-divider-btom">
      <span class="txt-silver">Switch Settings</span>
    </ion-item-divider>
    <button ion-item class="itm">
      <h2>Schedule</h2>
      <ion-icon item-right md="ios-arrow-forward"></ion-icon>
    </button> 
    <button ion-item class="itm" (click)="goToHistory()">
      <h2>History</h2>
      <ion-icon item-right md="ios-arrow-forward"></ion-icon>
    </button>
    <button ion-item class="itm">
      <h2>Test Connection</h2>
      <ion-icon item-right md="ios-arrow-forward"></ion-icon>
    </button>    
  </ion-item-group>
</ion-content>
