<ion-header>
  <ion-navbar>
    <ion-title>createSwitch</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-padding>
    <form (ngSubmit)="createSw()" #registerForm="ngForm">
    <ion-input [(ngModel)]="registerSw.sName"  [ngModelOptions]="{standalone: true}"
    required type="text" autofocus></ion-input>
    <ion-input [(ngModel)]="registerSw.sNum"  [ngModelOptions]="{standalone: true}"
    required type="number"></ion-input>
    <ion-item>
      <ion-label>Switch Type</ion-label>
        <ion-select [(ngModel)]="registerSw.sType" [ngModelOptions]="{standalone: true}">
          <ion-option>toggle</ion-option>
          <ion-option>regulator</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Appliance Type</ion-label>
        <ion-select [(ngModel)]="registerSw.appType" [ngModelOptions]="{standalone: true}">
          <ion-option>fan</ion-option>
          <ion-option>light</ion-option>
          <ion-option>other</ion-option>
        </ion-select>
    </ion-item>
    <button ion-button full type="submit" class="txt-orange">Create Switch</button>
  </form>
</ion-content>
