<ion-header> 
  <ion-navbar>         
    <ion-title>Test Your {{type}}</ion-title>
  </ion-navbar> 
</ion-header> 
<ion-content no-padding>
<P padding class="font-1-5rem">Remote: 
  <span class="txt-gold" style="font-size: 2.8rem !important;">{{present_remote}}</span>
  <span class="txt-gold">/ {{number_of_remotes}}</span></P>

<h5 text-center>Test your {{brand}} {{type}}</h5>
<p>&nbsp;</p>
  <ion-row text-center>
    <ion-col *ngFor="let i of row1_keys">
      <button ion-button icon-only class="btn-icon txt-cc" [disabled]="waiting" (click)="triggerIr(i)">
        <ion-icon name="power"></ion-icon>
      </button> <br>
      <span class="txt-white font-1-1rem" text-center>{{i}}</span>
    </ion-col>    
  </ion-row>
    <ion-row text-center>
    <ion-col *ngFor="let j of row2_keys">
      <button ion-button icon-only class="btn-icon txt-cc" [disabled]="waiting" (click)="triggerIr(j)">
        <ion-icon name="power"></ion-icon>
      </button> <br>
      <span class="txt-white font-1-1rem" text-center>{{j}}</span>
    </ion-col>    
  </ion-row>
  <!--ion-row text-center>
    <ion-col>
      <button ion-button icon-only class="btn-icon" >
        <ion-icon name="volume-up"></ion-icon>
      </button> <br>
      <span class="txt-white font-1-1rem" text-center>VOLUME UP</span>
    </ion-col>
    <ion-col>
      <button ion-button icon-only class="btn-icon " >
        <ion-icon name="menu"></ion-icon>
      </button> <br>
      <span class="txt-white font-1-1rem" text-center>MENU</span>
    </ion-col>
    <ion-col>
      <button ion-button icon-only class="btn-icon " >
        <ion-icon name="volume-down"></ion-icon>
      </button> <br>
      <span class="txt-white font-1-1rem" text-center>VOLUME DOWN</span>
    </ion-col>    
  </ion-row-->
<p>&nbsp;</p> 
  <ion-row no-padding> 
    <ion-col text-center class="txt-orange bdr bg-1c">
      <button ion-button block clear no-padding class="margin-zero txt-orange"  (click)="setRemote()">Okay, Get this Remote</button>    
    </ion-col>
  </ion-row>
  <ion-row no-padding *ngIf="moreThanOne"> 
    <ion-col text-center class="txt-white bdr bg-1c">
      <button ion-button block clear no-padding class="margin-zero txt-white" [disabled]="disable_prev" (click)="prevRemote()">Previous</button>    
    </ion-col>
    <ion-col text-center class="txt-white bdr bg-1c"> 
      <button ion-button block clear class="margin-zero txt-white" [disabled]="disable_next" (click)="nextRemote()"> Next </button>  
    </ion-col>
  </ion-row>
</ion-content>

