<ion-header>
  <ion-navbar>
    <ion-title *ngIf="switchBoardDetailsData">{{ switchBoardDetailsData.name}}</ion-title>
    <ion-buttons end>
      <button class="txt-orange bg-none" (click)="goToEditSwitchBoard()">Edit</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="switchBoardDetailsData">
  <ion-item-group>
    <ion-item-divider class="itm-divider-btom">
      <span class="txt-silver">Switch Board details</span>
    </ion-item-divider>
    <ion-item class="itm">
      <ion-label>Switch Board Name</ion-label>
      <span item-right class="txt-normal">{{switchBoardDetailsData.name}}</span>
    </ion-item>
    <ion-item class="itm">
      <ion-label>Switch Board Type</ion-label>
      <span item-right class="txt-normal">{{switchBoardDetailsData.device_type}}</span>
    </ion-item>
    <ion-item class="itm">
      <ion-label>Home</ion-label>
      <span item-right class="txt-normal">{{switchBoardDetailsData.home_type}}</span>
    </ion-item>
    <ion-item class="itm">
      <ion-label>Room</ion-label>
      <span item-right class="txt-normal">{{switchBoardDetailsData.room_type}}</span>
    </ion-item>
    <ion-item class="itm">
      <ion-label>Device ID</ion-label>
      <span item-right class="txt-normal">{{switchBoardDetailsData.device_id}}</span>
    </ion-item>
  </ion-item-group>
<br>
  <button class="btn txt-orange" full ion-button (click)="configureSwitchBoard()">Configure Switch Board  </button>

  <p padding-left class="m-40150">When you click on it you can configure switch board settins</p>


  <button class="btn txt-red" ion-button full (click)="deleteSwitchBoard()">Delete Switch Board</button>
</ion-content>