<ion-header>
    <ion-navbar>
        <ion-title> Rooms </ion-title>
        <!-- <ion-buttons end class="txt-gold"> 
    <button clear ion-button>
       <ion-icon item-right name="close" class="txt-white"></ion-icon>
     </button> 
   </ion-buttons> -->
    </ion-navbar>
</ion-header>
<ion-content no-padding>
     <ion-refresher refreshingSpinner="none" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
    <ion-item-group>
        <ion-item-divider class="itm-divider-btom bdr-btom-none">
            <span class="txt-gold"> Rooms in the default home</span>
        </ion-item-divider>
        <ion-row no-padding *ngFor="let i of data">
            <ion-col class="itm1 bdr-btom-rt-0d" ion-item (click)="goToSwitchesinTheRoom(i)">
                <span class="font-2-5rem"></span>{{i.room_name}}
                <br>
                <span class="txt-orange font-1-5rem"> Total: </span>
                <span class="txt-normal font-1-5rem"> {{i.totalAppliances}} &nbsp; &nbsp;</span>
                <span class="txt-gold font-1-5rem"> Active: </span>
                <span class="txt-normal font-1-5rem">   {{i.activeAppliances}} &nbsp;</span>
                <span class="txt-red font-1-5rem"> Inactive: </span>
                <span class="txt-normal font-1-5rem">  {{(i.totalAppliances - i.activeAppliances)}} &nbsp;</span>
            </ion-col>
            <ion-col class="itm1 lbl-m-0" text-center width-20 no-padding no-margin>
                <button [disabled]="!i.activeAppliances" ion-button full clear no-padding no-margin class="wh-100" (click)="turnOffRoom(i)">
                    <ion-icon name="power" class="txt-red font-2-5rem"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-item-group>
</ion-content>
