page-program-details {

    ion-content {
        overflow: inherit !important;
        text-overflow: inherit !important;
    }
    .item {
        overflow: inherit;
        text-overflow: inherit;
        white-space: nowrap;
         height: 160px;
    }
    ion-scroll {
        white-space: nowrap;
        height: 160px;
        text-align: center;
        margin: 2px !important;
        margin-bottom: 2px;
        padding: 2px !important;
    }
    ion-img {
        display: inline-block;
        width: 120px;
        height: 140px;
        object-fit: cover;
        padding: 0px !important;
        contain: strict;
    }
    img {
        margin: 0 !important;
    }
    .item-md {
        background-color: #181818 !important;
        margin: 0px !important;
        color: #3a5072 !important;
        padding: 0px !important;
        border-radius: 0px !important;
    }
    .item-ios {
        position: relative;
        margin: 0px !important;
        color: #3a5072 !important;
        border-radius: 0px !important;
        padding: 0 !important;
        background-color: #000 !important;
    }
    .label-ios {
        margin: 0px !important;
    }
    .label-md {
        margin: 0px !important;
    }
    ion-card {
        display: inline-block;
        background: none !important;
        margin: 0px !important;
    }
    .card-content-ios {
        padding: 0px !important;
        font-size: 1.4rem;
    }
    .card-title-ios {
        padding: 0px!important;
        font-size: 1.5rem;
    }
    ::-webkit-scrollbar {
        display: none !important;
    }
    .card-ios {
        margin: 0px !important;
        padding: 0px !important;
        width: 30%;
        background: none !important;
    }
    .card-md {
        margin: 0px !important;
        padding: 0px !important;
        width: 30%;
        background: none !important;
    }
    .item-md.item-block .item-inner {
        padding: 0px !important;
    }
    .item-ios.item-block .item-inner {
        padding: 0px !important;
    }
    .txt-silver {
        color: #929292 !important;
    }
    .txt-black {
        color: #000 !important;
    }
    .bg-white {
        background-color: #fff !important;
    }
    .ellipses {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;        
        padding-bottom: 10px;
    }
    // new design
    .card-background-page {
        ion-card {
            position: relative;
            text-align: center;
        }
        .card-title {
            position: absolute;
           	padding-top: 4px;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
        }
        
    }
    .secondary {
        background-color: #1bd63e !important;
    }
    .light {
        background-color: #fff !important;
    }
    .item:last-child {
    border-bottom: none !important;
}
ul {
  padding-left: 11px;
  margin-top:4px;
 
  &.rating li {
    padding: 5px 3px !important;
    color:$gold;
 
    ion-icon {
      font-size: 1.7em !important;
    }
  }
}


}

