
<ion-header>

  <ion-navbar>
    <ion-title>{{programInfo.name}}</ion-title>
  </ion-navbar>

</ion-header>
 

<ion-content no-padding class="txt-normal">
<span text-center>
	<img width="100%" height="200" [src]="programInfo.poster" />
  </span>

<p padding-left class="txt-white font-2 m-btom-2px">{{programInfo.name}}</p>
<!--span padding-left class="txt-gold">
	<ion-icon name="star"> </ion-icon>
</span-->
<rating [ngModel]="programInfo.rating" 
        readOnly="true" 
        max="5" 
        emptyStarIconName="star-outline" 
        halfStarIconName="star-half" 
        starIconName="star" 
        nullable="true"></rating>
	<span class="txt-gold">{{programInfo.rating}}/5</span>
<p padding-left class="txt-white font-1-5rem"><span class="font-w-600">{{programInfo.type}}</span>: {{programInfo.language}}</p>
<p padding-left class="txt-white font-1-5rem"><span  class="font-w-600">Runtime</span>: 2hr 10min</p>
<p padding-left class="txt-white font-1-5rem">{{programInfo.genre}}</p>
<p padding-left>
	<span class="txt-gold font-1-5rem font-w-600">Director</span>
 	<span class="txt-white font-1-5rem">: {{director.realname}}</span>
</p>

<p padding-left class="txt-white font-1-3rem m-btom-2px font-w-600">Cast</p>

<ion-scroll scrollX="true" padding-left>
  <span *ngFor="let c of cast">
<ion-card >
	<ion-item text-center class="bdr-btom-none" >
		<img src="assets/img/22.jpg"/>
		<p text-center class="card-title txt-white font-1-3rem ellipses">{{c.realname}} </p>
	</ion-item>
</ion-card>
  </span>
</ion-scroll>

<p padding-left *ngIf="programInfo.tagline">
	<span class="txt-gold font-1-3rem font-w-600" >Tagline</span>
 	<span class="txt-white font-1-3rem">{{programInfo.tagline}}</span>
</p>
<p padding-left>
	<span class="txt-gold font-1-3rem font-w-600">Overview</span>
 	<span class="txt-white lh-20px font-1-3rem">{{programInfo.summary}}</span>
</p>

</ion-content>  