<ion-header>
  <ion-navbar>
    <ion-title *ngIf="name">{{name}}</ion-title>
    <ion-title *ngIf="!name">Unconfigured</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >

 
   <ion-item-group  >
    <ion-item-divider class="itm-divider-btom">
      <span class="txt-silver">Add Switch Details</span>
    </ion-item-divider>
    <ion-item class="itm">
      <ion-label>Appliance Name</ion-label>
      <ion-input type="text" placeholder="Enter Name" item-right class="txt-normal"  text-right  [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item class="itm">
      <ion-label>Appliance Type</ion-label>
      <ion-select  [(ngModel)]="appliance_type" (ngModelChange)="subType()">
        <ion-option *ngFor="let j of data"  
        [selected]="j.selected" 
        [value]="j">{{j.appname}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="itm" *ngIf="appliance_subtype_exists">
      <ion-label>Appliance Sub-Type</ion-label>
      <ion-select  [(ngModel)]="sub_appliance_type">
        <ion-option *ngFor="let k of data2" [selected]="k.selected" [value]="k" >{{k.name}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-item-group>
  <br>
  <button class="txt-orange" ion-button full (click)="updateSwitch()">Update Details 	</button>


</ion-content>
