<!--ion-header>
  <ion-navbar> 
    <ion-title>Home</ion-title> 
  </ion-navbar>
</ion-header> 
<ion-content  style="background:#000 !important;"> 

<ion-toggle [(ngModel)]="toggler"></ion-toggle>
<ion-grid > 
<ion-row no-padding class="bot_bdr"> 
  <ion-col width-50 no-padding class="btn_ml">
    <div class="switch"><round-progress class="roundC" [current]="20" 
      [max]="100" [rounded]="true" [responsive]="true" [on]="toggler" >
        </round-progress></div>
  </ion-col>  
  <ion-col no-padding class="content_txt" >
    <ion-row no-padding>
      <ion-col width-75 no-padding class="room">    Bed Room Fan      </ion-col>
      <ion-col no-padding>           </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col width-50 no-padding class="hrs">  
        <img src="assets/img/hrs.png"> Run. Hrs
      </ion-col>
      <ion-col width-50 no-padding class="hrs">  
        <img src="assets/img/kwh.png"> Est. Kwh
      </ion-col>    
    </ion-row>
    <ion-row no-padding>
      <ion-col width-50 no-padding class="hrscount">   04.30     </ion-col> 
      <ion-col width-50 no-padding class="kwhcount">    9830       </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col width-50 no-padding class="remote">  
        <img src="assets/img/setting.png"> Remote
      </ion-col>
      <ion-col width-50 no-padding class="setting">  
        <img src="assets/img/setting.png"> Settings
      </ion-col>    
    </ion-row>    
  </ion-col>  
</ion-row> 

<ion-row no-padding class="bot_bdr"> 
  <ion-col width-50 no-padding class="btn_ml" >
<img src="assets/img/test_back.png" class="btn_img11">
  </ion-col>  
  <ion-col no-padding class="content_txt" >
    <ion-row no-padding>
      <ion-col width-75 no-padding class="room">    Bed Room Fan      </ion-col>
      <ion-col no-padding>           </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col width-50 no-padding class="hrs">  
        <img src="assets/img/hrs.png"> Run. Hrs
      </ion-col>
      <ion-col width-50 no-padding class="hrs">  
        <img src="assets/img/kwh.png"> Est. Kwh
      </ion-col>    
    </ion-row>
    <ion-row no-padding>
      <ion-col width-50 no-padding class="hrscount">   04.30     </ion-col> 
      <ion-col width-50 no-padding class="kwhcount">    9830       </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col width-50 no-padding class="remote">  
        <img src="assets/img/setting.png"> Remote
      </ion-col>
      <ion-col width-50 no-padding class="setting">  
        <img src="assets/img/setting.png"> Settings
      </ion-col>    
    </ion-row>    
  </ion-col>
</ion-row>
</ion-grid>
   
 
</ion-content-->


<ion-header> 
  <ion-navbar>      
    <ion-title>All Switches</ion-title> 
  </ion-navbar>  
</ion-header> 
<ion-content  style="background:#000 !important;"> 
  <ion-refresher (ionRefresh)="doRefresh($event)">
 <ion-refresher-content>
      </ion-refresher-content>
  </ion-refresher>
	<ion-list no-padding no-margin>
	<ion-item no-padding no-margin >
			<ion-grid>         
				<ion-row no-padding class="bot_bdr" *ngFor="let i of data">
					<ion-col width-50 no-padding class="btn_ml" *ngIf="i.name">
              
						<div class="switch" [ngClass]="{active: i.isActive}" (mousedown)="trigger(i)">

							 <round-progress class="roundC" [current]="i.progressBarDuration" [max]="100" [stroke]="20" [rounded]="i.isRounded" [on]="i.isActive" [responsive]="true" [animationDelay]="700">   
							</round-progress>  

						<div class="btn_icon"> 	</div> 		
						</div>  
					</ion-col>    
					<ion-col no-padding class="content_txt" *ngIf="i.name" >
						<ion-row no-padding>
							<ion-col width-75 no-padding class="room"> {{i.name}} </ion-col>
							<ion-col no-padding>  </ion-col>
						</ion-row>
						<ion-row no-padding>
							<ion-col width-50 no-padding class="hrs">  
								<!-- <img src="assets/img/hrs.png"> --> Run. Hrs
							</ion-col>
							<ion-col width-50 no-padding class="kwh">  
								<!-- <img src="assets/img/kwh.png"> --> Est. Kwh
							</ion-col>    
						</ion-row>
						<ion-row no-padding>
							<ion-col width-50 no-padding class="hrscount">   {{i.durationHrs}}:{{i.durationMins | timeFormatter}}    </ion-col> 
							<ion-col width-50 no-padding class="kwhcount">    {{i.wattage}}       </ion-col>
						</ion-row>
						<ion-row no-padding>
							<ion-col width-50 no-padding >  
								<!-- <img src="assets/img/setting.png"> Remote -->
							</ion-col>
							<ion-col width-50 no-padding class="settings">  
								<ion-icon name="settings" class="remote" (click)="goToStats(i)"> </ion-icon> &nbsp; 
								<ion-icon name="settings" class="setting"> </ion-icon>
							</ion-col>  
						</ion-row>   
            <ion-row no-padding>
              <ion-col>
                <ion-item >
                  <ion-range *ngIf="i.isRegulator" [disabled]="!i.isActive" (ionChange)="updateDimm(i);" pin="true" debounce="700" [(ngModel)]="i.current_dimm"  min="0" max="99" pin="false"></ion-range>
                </ion-item> 
              </ion-col>
						</ion-row> 
					</ion-col>  
				</ion-row>
			</ion-grid>
		</ion-item>

	</ion-list>

</ion-content>    
 