<ion-header>
    <ion-navbar>
        <ion-title>Create IR Appliance</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
  <ion-item-group>
    <ion-item-divider class="itm-divider-btom"><span class="txt-silver">Create a new IR Appliance</span></ion-item-divider>
      <ion-item class="itm">
        <ion-label>IR Appliance Name</ion-label>
        <ion-input type="text" item-right class="txt-normal" required text-right [(ngModel)]="name"  [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-item> 

      <ion-item  class="itm">
        <ion-label>Room</ion-label>
        <ion-select [(ngModel)]="room"(ngModelChange)="onRoomChange()">
          <ion-option *ngFor="let item of items" [value]="item.room_id">{{item.room_name}}</ion-option>
        </ion-select>
      </ion-item> 
      <ion-item  class="itm">
        <ion-label>Switch Board</ion-label>
        <ion-select [(ngModel)]="sb_id" [disabled]="disSb">
          <ion-option *ngFor="let item of sb" [value]="item">{{item.name}}</ion-option>
        </ion-select>
      </ion-item> 

      <ion-item class="itm">
        <ion-label>Appliance Type</ion-label>
        <ion-select [(ngModel)]="type" [ngModelOptions]="{standalone: true}">
          <ion-option>Home Automation</ion-option>
          <ion-option>AV Receiver</ion-option>
          <ion-option>Projector</ion-option>
          <ion-option>Disc Player</ion-option>
          <ion-option>TV</ion-option>
          <ion-option>Media Streamer</ion-option>
          <ion-option>Set Top Box</ion-option>
          <ion-option>Air Conditioner</ion-option>
        </ion-select>
      </ion-item>    
  </ion-item-group>
  <p>&nbsp;</p> 
  <button ion-button block no-margin (click)="goToConfigure()"><span class="txt-orange" >Configure Remote</span> </button>
</ion-content>
