
<ion-header>
  <ion-navbar>
    <ion-title>Wifi Routers</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-padding>
<ion-item-group>
    <ion-item-divider class="itm-divider-btom"><span class="txt-silver" *ngIf="!Empty">Registered Wifi Routers</span></ion-item-divider>
    <button ion-item class="itm" *ngFor="let i of routers" (click)="goToDetail(i)">
      <h2>{{i.name}}</h2>
      <ion-icon item-right md="ios-arrow-forward"></ion-icon>
    </button> 
  </ion-item-group>
      <ion-fab right bottom  color="Red" class="fab1">
       <button ion-fab  (click)="goToAddWifiRouter();"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
