
<ion-header>  
	<ion-navbar>         
		<ion-title>Edit Home</ion-title> 
	</ion-navbar>  
</ion-header>  
<ion-content no-padding> 
	<!--form (ngSubmit)="editHome()" #registerForm="ngForm"--> 
	<ion-item-group>
		<ion-item-divider class="itm-divider-btom">
			<span class="txt-silver">Create New Home</span>
		</ion-item-divider>

		<ion-item class="itm">

			<ion-label>Display Name</ion-label>
			<ion-input type="text"[(ngModel)]="home_dName" (ngModelChange)="onChange()" [ngModelOptions]="{standalone: true}" required item-right class="txt-normal" text-right placeholder="Enter Home Name"></ion-input>
		</ion-item>
		<ion-item class="itm" *ngIf="show">
			<ion-label>Make it default ?</ion-label>
			<ion-toggle color="energized"  [(ngModel)]="def" (ngModelChange)="onChange()" [ngModelOptions]="{standalone: true}"></ion-toggle>
		</ion-item>
		<ion-item class="itm">
			<ion-label>Geo Location </ion-label>
			<span item-right *ngIf="grab" class="txt-orange">{{lat}},{{long}}</span>
			<button *ngIf="!grab" ion-button item-right class="txt-orange" text-right (click)="locate()" outline style="border-color:#ff9500"  >Grab</button>
		</ion-item>					
	</ion-item-group>

	<p padding-left class="m-40150">Current home location: 
		<span class="txt-gold">{{lat}},{{long}}</span>
	</p>

	<div *ngIf="notDefault">

		<button class="btn txt-orange" ion-button full [disabled]="defDisable" (click)="makeDefaultHome()">Make it as Default Home</button>

		<p padding-left class="m-40150">  This makes the {{ home_dName }} as default home </p> 

	</div>

		<button class="txt-orange" ion-button full (click)="editHome()" [disabled]="disUpdate">Update Home	</button>
		<!--/form-->
	</ion-content>     

