<ion-header>
  <ion-navbar>
    <ion-title>Switchboards</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-padding> 
  <ion-item-group>
    <ion-item-divider class="itm-divider-btom">
      <span class="txt-gold"> All Registered Switchboards in {{this.homeName}}</span>
    </ion-item-divider>
    <span *ngIf="data">
      <span *ngFor="let item of data">
        <span *ngFor="let sboard of item.devices" class="loopspan">     
     <button ion-item class="itm2" (click)="goToSwitchBoardDetails(sboard,item.room_name,item.room_id)">
        <span>{{sboard.name}}</span><br><span class="txt-orange txt-small"> {{item.room_name}}</span>
    <ion-icon item-right md="ios-arrow-forward"></ion-icon>
    </button>
    </span>
    </span>
    </span>
  </ion-item-group>
  <ion-fab bottom right #fab>
    <button ion-fab (click)="addSwitchBoard();"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>